<component name="ArtifactManager">
  <artifact type="war" name="Spring01Hibernate:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="Spring01Hibernate.war">
      <element id="artifact" artifact-name="Spring01Hibernate:war exploded" />
    </root>
  </artifact>
</component>